.CheckboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.CheckboxContainer input {
    display: none;
}

.Checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid light-dark(var(--lt-Light-Grayish-Blue), var(--dk-Very-Dark-Grayish-Blue-2));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Checkbox.checked {
    background: var(--primary-Check-Background);
}