.TodoContainer {
    max-width: 540px;
    margin: -230px auto 0;
}

.Header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 45px;
}

.Title {
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 18px;
}