.ListContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 440px;
    border-radius: 6px;
    background-color: light-dark(#FFF, var(--dk-Very-Dark-Desaturated-Blue));
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

.ListContainer ul {
    flex: 1;
}

.ListContainer ul li {
    border-bottom: 1px solid light-dark(var(--lt-Light-Grayish-Blue), var(--dk-Very-Dark-Grayish-Blue-2));
}

.ListFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 400;
    color: light-dark(var(--lt-Dark-Grayish-Blue), var(--dk-Dark-Grayish-Blue));
}

.ClearCompletedTodosButton:hover {
    color: light-dark(var(--lt-Very-Dark-Grayish-Blue), var(--dk-Light-Grayish-Blue__hover));
}