.ListItem {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 19px;
}

.TodoTextWrapper {
    flex: 1;
    width: 200px;
    padding: 0 24px;
}

.TodoText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.DeleteButton {}

.DeleteButton:focus {
    outline: none;
}