.Filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Filters .FilterOption:not(:last-child) {
    margin-right: 10px;
}

.FilterOption input[type="radio"] {
    display: none;
}

.FilterOption input[type="radio"]+label {
    cursor: pointer;
}

.FilterOption input[type="radio"]:checked+label {
    font-weight: 700;
    color: var(--primary-Bright-Blue);
}

.FilterOption input[type="radio"]:hover+label {
    color: light-dark(var(--lt-Very-Dark-Grayish-Blue), var(--dk-Light-Grayish-Blue__hover));
}