:root {
    /* Color variables */

    /* Primary */
    --primary-Bright-Blue: hsl(220, 98%, 61%);
    --primary-Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    /* Light Theme */
    --lt-Very-Light-Gray: hsl(0, 0%, 98%);
    --lt-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --lt-Light-Grayish-Blue: hsl(233, 11%, 84%);
    --lt-Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --lt-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /* Dark Theme */
    --dk-Very-Dark-Blue: hsl(235, 21%, 11%);
    --dk-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --dk-Light-Grayish-Blue: hsl(234, 39%, 85%);
    --dk-Light-Grayish-Blue__hover: hsl(236, 33%, 92%);
    --dk-Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --dk-Very-Dark-Grayish-Blue-1: hsl(233, 14%, 35%);
    --dk-Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
}

html {
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}